<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3 sideBar">
      <div style="text-align: center; color: white;">
        <img><span>Name of Admin</span>
        <p>Admin id</p>
      </div>
      <ul class="listone">
        <a href="#" routerlink = "/dashboard"><li>Dashboard</li></a>
        <a routerLink = "/chart"><li>Chart</li></a>
        <a href="#"><li>User
          <ul>
            <a routerLink = "/signup"><li>Create</li></a>
            <a routerLink = "/table"><li>Table</li></a>
          </ul>
        </li></a>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3 rightBar" >
       <h3 style="position: relative; top: 20px; left: 10px;">Table</h3>
       <div class="tabledata">
        <p-table class="hoverTable" #dt2 dataKey="id" styleClass="p-datatable-striped" [value]="brandData" [paginator]="true" (onPage)="paginate($event)"  [rows]="10"
        [showCurrentPageReport]="true"  [scrollable]="true"  scrollHeight="600px"  [rowsPerPageOptions]="[10, 50]" [rowHover]="true" 
        currentPageReportTemplate="showing {first} to {last} of {totalRecords} entries " [globalFilterFields]="['name','price', 'brand', 'location']">
        <ng-template pTemplate="caption">
          <div class="flex search">
              <span class="p-input-icon-left ml-auto">
                  <input type="text" placeholder="search" style="border: 3px solid purple;" />
              </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr class="oneTr">
              <th class="header" pSortableColumn="name" >
                  <div class="text-center">
                     Name
                      <p-sortIcon field="name"></p-sortIcon>
                      <p-columnFilter type="text" field="name" display="menu" class="ml-auto filter"></p-columnFilter>
                  </div>
              </th>
              <th class="header" pSortableColumn="price">
                  <div class="text-center">
                      Price
                      <p-sortIcon field="price"></p-sortIcon>
                      <p-columnFilter type="text" field="price" display="menu" class="ml-auto filter"></p-columnFilter>
                  </div>
              </th>
              <th class="header" pSortableColumn="brand">
                  <div class="text-center">
                      Brand
                      <p-sortIcon field="brand"></p-sortIcon>
                      <p-columnFilter type="text" field="brand" display="menu" class="ml-auto filter"></p-columnFilter>
                  </div>
              </th>
              <th class="header" pSortableColumn="location">
                  <div class="text-center">
                      Location
                      <p-sortIcon field="location"></p-sortIcon>
                      <p-columnFilter type="text" field="location" display="menu" class="ml-auto filter"></p-columnFilter>
                  </div>
              </th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-Data>
        <tr class="hovertb tableRow">
            <td class="text-center">{{Data.name}}</td>
            <td class="text-center">{{Data.price}}</td>
            <td class="text-center">{{Data.brand}}</td>
            <td class="text-center">{{Data.brand}}</td>
        </tr>
    </ng-template>
        </p-table>
       </div>
    </div>
</div>
