<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3 sideBar">
      <div style="text-align: center; color: white;">
        <img src="assets/paintingImage.jpeg" width="30" height="40">&nbsp;<span>Name of Admin</span>
        <p>Admin id</p>
      </div>
      <ul class="listone">
        <a href="#"><li>Dashboard</li></a>
        <a routerLink = "/chart"><li>Chart</li></a>
        <a href=""><li>User
          <ul>
            <a routerLink = "/signup"><li>Create</li></a>
            <a routerLink = "/table"><li>Table</li></a>
          </ul>
        </li></a>
      </ul>
    </div>
  
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3 rightBar" >
      <h3>
        User Overview
      </h3>
      <div class="row" style="margin: 0px;">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-3 boxes">
          <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
            <h4>Overall Progress</h4>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3 ">
            <div style="border-radius: 25px;  border: 2px solid black; width: 100px; height: 60px; text-align: center;">
              <p style="position: relative; top: 8px; font-size: 25px;">120%</p>
            </div>
            <div style= "position: relative; top: 50px; left: 65px;">
              <p style="font-weight: bold;">34%</p>
            </div>
          </div>
          </div>
          <div>
            <ul class="listone">
              <li><h6>In Progress</h6></li>
            </ul>
            <div style="width: 300px;">
            <input type="range" id="slider" name="slider" min="0" max="100" value="50">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-3 boxeone">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
              <h4>Overall Progress</h4>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
              <div style="border-radius: 25px;  border: 2px solid black; width: 100px; height: 60px; text-align: center;">
                <p style="position: relative; top: 8px; font-size: 25px;">120%</p>
              </div>
              <div style= "position: relative; top: 50px; left: 65px;">
                <p style="font-weight: bold;">34%</p>
              </div>
            </div>
            </div>
            <div>
              <ul class="listone">
                <li><h6>In Progress</h6></li>
              </ul>
              <div style="width: 300px;">
              <input type="range" id="slider" name="slider" min="0" max="100" value="50">
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-3 boxetwo">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
              <h4>Overall Progress</h4>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
              <div style="border-radius: 25px;  border: 2px solid black; width: 100px; height: 60px; text-align: center;">
                <p style="position: relative; top: 8px; font-size: 25px;">120%</p>
              </div>
              <div style= "position: relative; top: 50px; left: 65px;">
                <p style="font-weight: bold;">34%</p>
              </div>
            </div>
            </div>
            <div>
              <ul class="listone">
                <li><h6>In Progress</h6></li>
              </ul>
              <div style="width: 300px;">
              <input type="range" id="slider" name="slider" min="0" max="100" value="50">
              </div>
            </div>
        </div>
      </div>
  
      <div style="position: relative; top: 25px;">
        <h4>Loan</h4> 
      </div>
      <div class="row" style="margin: 0px; position: relative; top: 10px;">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-3 boxthree">
          <i class="fas fa-sack-dollar"></i>
          <h4 class="sme">SME Loans</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-3 boxfour">
          <i class='fas fa-comment-dollar' style='font-size:48px;color:red'></i>
          <h4 class="localPurchase">Local Purchase Order</h4>
          <button class="apply">Apply</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-3 boxfive">
          <i class='fas fa-comment-dollar' style='font-size:48px;color:red'></i>
          <h4 class="invoices">Invoices</h4>
        </div>
      </div>
      <div class="imageContainer">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3" style="width:32%;">
            <img src="assets/paintingImage.jpeg" width="250" height="200" style="position: relative; left: 50px;">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
            <h4>Lorem ipsum dollor</h4>
            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam maxime fuga enim. Necessitatibus iusto veritatis quam rem! Minus obcaecati excepturi officia incidunt corporis omnis laboriosam porro amet hic dolor.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3"  style="width:50%;">
            <h4>Lorem ipsum dollor</h4>
            <p style="color: black; font-weight: bold; font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam maxime fuga enim. Necessitatibus iusto veritatis quam rem! Minus obcaecati excepturi officia incidunt corporis omnis laboriosam porro amet hic dolor.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
            <img src="assets/paintingImage.jpeg" width="250" height="200" class="imgg">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-12 mt-3">
            <img src="assets/paintingImage.jpeg" width="200" height="200" style="">
            <img src="assets/paintingImage.jpeg" width="200" height="200" style="position: relative; left: 12px; top: 30px;">
            <img src="assets/paintingImage.jpeg" width="200" height="200" style="position: relative; left: 20px;">
            <img src="assets/paintingImage.jpeg" width="200" height="200" style="position: relative; left: 30px; top: 30px;">
          </div>
        </div>
      </div>
    </div>
  </div>
