
<div class="header" (mouseover)="over()" (mouseout)="out()">
  <a class="logo">Logo Icon</a>
  <div class="header-right">
    <a routerLink = "/signup">Signup</a>
    <a class="active">
      <select>
        <option>English</option>
        <option>hindi</option>
        <option>English</option>
      </select>
    </a>
    <a routerLink = "signup">Settings</a>
    
  </div>
</div>

<div class="headersec" *ngIf = "headerIn == true">
  <a class="logo">Logo Icon</a>
  <div class="header-right">
    <a class="active" routerLink = "/signup">SignUp</a>
  </div>
</div>
<router-outlet></router-outlet>