<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3 sideBar">
    <div style="text-align: center; color: white;">
      <img><span>Name of Admin</span>
      <p>Admin id</p>
    </div>
    <ul class="listone">
      <a href="#" routerlink = "/dashboard">
        <li>Dashboard</li>
      </a>
      <a href="#" routerLink = "/chart">
        <li>Chart</li>
      </a>
      <a href="#">
        <li>User
          <ul>
            <a routerLink="/signup">
              <li>Create</li>
            </a>
          <a routerLink="/table"><li>Table</li></a>
          </ul>
        </li>
      </a>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3 rightBar">
    <h3 style="position: relative; top: 20px; left: 20px;">Charts</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3" style="width: 70%;">
        <div class="card">
          <p-chart type="bar" [data]="data" [options]="options"></p-chart>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3 stats">
        <div style="background-color: blue; height: 100px; position: relative; top: 40px;" class="substats">
          <h3 style="position: relative; left: 20px;">354</h3>
          <h3 style="position: relative; left: 20px;">Total User Count</h3>
          <div class="row" style="position: relative; top: 5px;">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-3 ">
              <h3 style="">20</h3>
              <p style="font-weight: bold; font-size: 20px;" class="totalUser">New Users</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-3 ">
              <div class="vl"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-3 ">
              <h3>5</h3>
              <p style="font-weight: bold; font-size: 20px;" class="leftUser">Users Left</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3" style="width: 50%;">
          <div id="GFG">
            <div class="card">
              <p-chart type="bar" [data]="basicData" [options]="horizontalOptions">
              </p-chart>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
          <div id="GFG">
            <div class="card">
              <p-chart type="pie" [data]="dataa" [options]="chartOptions">
              </p-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>