.sideBar{
    background-color: black;
    width: 25%;
    height: 900px;
  }
  .listone{
    color: black;
    position: relative;
    top: 12px;
    right: 13px;
  }
  .rightBar{
    background-color: orchid;
    width: 75%;
    height: 900px;
  }
  .stats{
    background-color: white;
    height: 250px;
    width: 28%;
  }
  .vl {
    border-left: 4px solid black;
    height: 100px;
  }
  ul{
    list-style-type: none;
  }
  ul a{
    text-decoration: none;
  }
  @media screen and (max-width: 768px){
    .totalUser{
      position: relative;
      bottom: 15px;
    }
    .leftUser{
      position: relative;
      bottom: 15px;
      right: 10px;
    }
    .vl {
      border-left: 4px solid black;
      height: 80px;
      position: relative;
      left: 9px;
    }
  }